/* 全体 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

/* ヘッダー */
.global-nav {
  position: fixed;
  padding: 0 2rem; /* 画面幅が狭い場合に詰まってしまうので */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(228, 228, 81);
  z-index: 999;
}
.global-nav nav ul {
  display: flex;
  list-style: none;
  gap: 1rem; /* 子要素間の隙間 */
}

/* Hero */
#hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 250, 198);
}
#hero div{
    margin-top: 100px; /* ヘッダーの分下げる */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* About */
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
}
.about-container{
    display: flex;
    max-width: 700px;
}
#icon{
    height: 200px;
}
